<h3>Dados para o Saque</h3>
<br><br>
<p>Valor Para Sacar:</p>
<input type="number" @bind="valor" />
<button @onclick="Sacarr">Confirmar Saque </button>

@if (sacarOk is not null)
{
    @if (sacarOk == true)
        {

        DateTime horaAtual = DateTime.Now;

        DateTime horaInicioComercial = new DateTime(horaAtual.Year, horaAtual.Month, horaAtual.Day, 8, 0, 0);
        DateTime horaFimComercial = new DateTime(horaAtual.Year, horaAtual.Month, horaAtual.Day, 18, 0, 0);

        if (horaAtual >= horaInicioComercial && horaAtual <= horaFimComercial)
        {

        <h1>Saque Realizado com sucesso!</h1>
         }
     }
        else
        {
        <h1>As operações de saque só podem ser realizadas durante o horário comercial das 08:00 às 18:00.</h1>
    }
}

@code {
    [Parameter]
    public Carteira? Conta { get; set; }

    private bool? sacarOk = null;
    private double valor;

    private void Sacarr()
    {
        sacarOk = Conta.Sacar(valor);
    }

}
